body {
  background: linear-gradient(to bottom right, #463333, #f3f3f3);
  font-family: 'Poppins', sans-serif;
}

.login-section {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.login-section .form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-section .btn-dark {
  background-color: #444;
  border: none;
  border-radius: 8px;
}

.login-section h2 {
  font-weight: 600;
}

.login-section a {
  text-decoration: none;
  color: #007bff;
}

.login-section a:hover {
  text-decoration: underline;
}
